# API Environment Configuration Example
VITE_API_BASE_URL=https://uat-safetrans.in/dv-NVS-SVC/api/NVS
VITE_API_GET_STD_DETAILS_URL=https://uat-safetrans.in/dv-NVS-SVC/api/NVS/Get_Std_Details
VITE_API_GET_STD_LIST_URL=https://uat-safetrans.in/dv-NVS-SVC/api/NVS/Get_Std_list
VITE_API_GET_STD_MS_URL=https://uat-safetrans.in/dv-NVS-SVC/api/NVS/Get_Std_Ms
VITE_API_SAVE_STD_DETAILS_URL=https://uat-safetrans.in/dv-NVS-SVC/api/NVS/Insert_Update_Std_Ms
